.content {
  margin-top: 10rem;
}
body {
  background-color: aliceblue;
}
.section {
  margin-bottom: 2rem;
}

h2 {
  color: #333;
}

p {
  color: #777;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-item {
  width: 300px;
  padding: 1rem;
  margin: 1rem;
  background-color: #beff55;
  border: 1px solid #ec1212;
  border-radius: 5px;
}

.news-item {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.event-item {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.job-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.job-item {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #48fbf2;
}

.footer p {
  margin: 0;
}

.footer nav a {
  margin-right: 1rem;
  color: #333;
  text-decoration: none;
}

.App {
  text-align: center;
}

header {
  position: fixed;
  background-color: #48fbf2;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  z-index: 999;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

header.hidden {
  opacity: 0;
}

header h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

header p {
  font-size: 16px;
  color: #666;
}

